{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block content %}
    <div class="lead ">
        <h1>Mon Compte</h1>
        <p>Bienvenue {{app.user.prenom}} dans votre compte</p>
    </div>
    <div class="list-group lead container">
        <a href="{{ path('account_password') }}" class="list-group-item list-group-item-action">Modifier le mot de passe</a>
        <a href="{{path('reservation')}}" class="list-group-item list-group-item-action mt-2">Mes emprunts</a>
        <a href="#" class="list-group-item list-group-item-action mt-2">Mes commandes</a>
        <a href="#" class="list-group-item list-group-item-action mt-2">Mon historique</a>
    </div>
{% endblock %}
