{% extends 'base.html.twig' %}

{% block title %}Modifier password{% endblock %}

{% block content %}
    <div>
        <a href="{{ path('account') }}" class="btn btn-sm btn-outline-warning mt-3">Returner à mon compte</a>
        <hr class="border-white">

    </div>

    <div class="lead">
        <h1 class="lead mb-3">Modifiez votre mot de passe</h1>

        {% if message %}
            <div class="alert alert-warning">{{ message }} </div>
        {% endif %}
        {{ form(form) }}


    </div>



{% endblock %}
