{% extends 'base.html.twig' %}

{% block content %}

    <!--Slider-->
    <div class="container-fluid mb-3">
        <section>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ asset('images/baner1.jpg') }}" class="w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h2>Mediathèque La Chapelle-Curreaux</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Slider-->

{% endblock %}