{% extends 'base.html.twig' %}

{% block title %}
    <h1 class="pb-4 mb-5">Catalogue</h1>
{% endblock %}

{% block content %}
    <div class="row mt-5">
    {% for catalogue in catalogue %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="/images/{{catalogue.image}}" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-warning">{{catalogue.titre}}</h5>
                    <p class="card-text text-warning">{{catalogue.auteur}}</p>
                    <hr>
                    <p class="card-text text-warning">{{catalogue.genre}}</p>
                    <a href="#" class="btn btn-warning">Savoir plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}

